div#container
{
   width: 1200px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_choirImage1
{
   vertical-align: top;
}
#choirImage1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_choirText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 20px 0px 20px 0px;
   text-align: left;
}
#wb_choirText1 div
{
   text-align: left;
}
#wb_choirText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_choirText2 div
{
   text-align: left;
}
#wb_choirText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 20px 0px 20px 0px;
   text-align: left;
}
#wb_choirText3 div
{
   text-align: left;
}
#wb_choirText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_choirText4 div
{
   text-align: center;
}
#wb_choirShape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#choirShape1
{
   border-width: 0;
   vertical-align: top;
}
#otherLayer1
{
   background-color: transparent;
   background-image: url(images/Paysion%203.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
}
#wb_otherText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_otherText1 div
{
   text-align: right;
}
#wb_otherText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_otherText2 div
{
   text-align: right;
}
#wb_otherText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_otherText3 div
{
   text-align: right;
}
#wb_otherText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_otherText4 div
{
   text-align: right;
}
#wb_indexCard1
{
   background-color: #F5F5F5;
   background-image: url(images/Payson.jpg);
   background-repeat: no-repeat;
   background-position: center bottom;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#indexCard1-card-body
{
   font-size: 0px;
}
#indexCard1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 5px 5px 0px 5px;
   background-color: #14315A;
   background-image: none;
   color: #FFFFFF;
   font-family: Oswald;
   font-weight: normal;
   font-size: 27px;
}
#indexCard1-card-item1
{
   box-sizing: border-box;
   margin: 15px 20px 15px 20px;
   padding: -10px 0px 10px 0px;
   color: #292B2C;
   font-family: Oswald;
   font-weight: normal;
   font-size: 19px;
}
#indexCard1-card-item2
{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   color: #000000;
   font-family: Oswald;
   font-weight: normal;
   font-size: 16px;
}
#indexCard1-card-footer
{
   box-sizing: border-box;
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   border-top: 1px solid #DEDEDE;
   border-radius: 0 0 3px 3px;
   margin: 0;
   padding: 0px 20px 0px 20px;
   background-color: #14315A;
   background-image: none;
   color: #14315A;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_agentsText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 20px 0px 20px 0px;
   text-align: center;
}
#wb_agentsText1 div
{
   text-align: center;
}
#wb_page1Card1
{
   background-color: #F5F5F5;
   background-image: url(images/Dances.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#page1Card1-card-body
{
   font-size: 0px;
}
#page1Card1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 5px 5px 0px 5px;
   background-color: #14315A;
   background-image: none;
   color: #FFFFFF;
   font-family: Oswald;
   font-weight: normal;
   font-size: 27px;
}
#page1Card1-card-item1
{
   box-sizing: border-box;
   margin: 15px 20px 15px 20px;
   padding: -10px 0px 10px 0px;
   color: #292B2C;
   font-family: Oswald;
   font-weight: normal;
   font-size: 19px;
}
#page1Card1-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 190px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#page1Card1-card-item2 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#page1Card1-card-footer
{
   box-sizing: border-box;
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   border-top: 1px solid #DEDEDE;
   border-radius: 0 0 3px 3px;
   margin: 0;
   padding: 0px 20px 0px 20px;
   background-color: #14315A;
   background-image: none;
   color: #14315A;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_dancesCard1
{
   background-color: #F5F5F5;
   background-image: url(images/Dances.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#dancesCard1-card-body
{
   font-size: 0px;
}
#dancesCard1-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 5px 5px 0px 5px;
   background-color: #14315A;
   background-image: none;
   color: #FFFFFF;
   font-family: Oswald;
   font-weight: normal;
   font-size: 27px;
}
#dancesCard1-card-item1
{
   box-sizing: border-box;
   margin: 15px 20px 15px 20px;
   padding: -10px 0px 10px 0px;
   color: #292B2C;
   font-family: Oswald;
   font-weight: normal;
   font-size: 19px;
}
#dancesCard1-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 190px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#dancesCard1-card-item2 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#dancesCard1-card-footer
{
   box-sizing: border-box;
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   border-top: 1px solid #DEDEDE;
   border-radius: 0 0 3px 3px;
   margin: 0;
   padding: 0px 20px 0px 20px;
   background-color: #14315A;
   background-image: none;
   color: #14315A;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_dancesCard2
{
   background-color: #F5F5F5;
   background-image: url(images/Dances.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   border: 1px solid #DEDEDE;
   border-radius: 3px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#dancesCard2-card-body
{
   font-size: 0px;
}
#dancesCard2-card-header
{
   box-sizing: border-box;
   border-bottom: 1px solid #DEDEDE;
   border-radius: 3px 3px 0 0;
   margin: 0;
   padding: 5px 5px 0px 5px;
   background-color: #14315A;
   background-image: none;
   color: #FFFFFF;
   font-family: Oswald;
   font-weight: normal;
   font-size: 27px;
}
#dancesCard2-card-item1
{
   box-sizing: border-box;
   margin: 15px 20px 15px 20px;
   padding: -10px 0px 10px 0px;
   color: #292B2C;
   font-family: Oswald;
   font-weight: normal;
   font-size: 19px;
}
#dancesCard2-card-item2
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 190px 20px 20px 20px;
   padding: 10px 16px 10px 16px;
   border: 1px solid #0275D8;
   border-radius: 4px;
   background-color: #0275D8;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#dancesCard2-card-item2 a
{
   color: #FFFFFF;
   text-decoration: none;
}
#dancesCard2-card-footer
{
   box-sizing: border-box;
   position: absolute;
   left: 0;
   bottom: 0;
   right: 0;
   border-top: 1px solid #DEDEDE;
   border-radius: 0 0 3px 3px;
   margin: 0;
   padding: 0px 20px 0px 20px;
   background-color: #14315A;
   background-image: none;
   color: #14315A;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#SlideShow1 .image
{
   border-width: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexLayer2
{
   background-color: #003CA6;
   background-image: none;
}
#dancesLayer1
{
   background-color: #C0C0C0;
   background-image: none;
}
#wb_dancesShape1
{
   transform: rotate(0deg);
   transform-origin: 50% 50%;
}
#dancesShape1
{
   border-width: 0;
   vertical-align: top;
}
#dancesLayer2
{
   background-color: transparent;
   background-image: url(images/page1_dancesLayer2_bkgrnd.png);
   background-repeat: repeat-x;
   background-position: left top;
}
#wb_dancesText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 10px 0px 0px 0px;
   text-align: center;
}
#wb_dancesText1
{
   color: #000000;
   font-family: Oswald;
   font-weight: normal;
   font-size: 24px;
   line-height: 1px;
}
#wb_dancesText1 p, #wb_dancesText1 ul
{
   margin: 0;
   padding: 0;
}
#wb_dancesText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_dancesText2 div
{
   text-align: center;
}
#wb_dancesText4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_dancesText4 div
{
   text-align: center;
}
#wb_dancesText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_dancesText3 div
{
   text-align: center;
}
#dancesLayer3
{
   background-color: transparent;
   background-image: url(images/1st%20Friday.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
}
#indexLayer1
{
   background-color: #14315A;
   background-image: none;
}
#wb_indexCssMenu2
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_indexCssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_indexCssMenu2 li
{
   float: left;
   margin: 0;
   padding: 5px 15px 5px 0px;
}
#wb_indexCssMenu2 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px solid #CCCCCC;
   background-color: transparent;
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 17px;
   font-style: normal;
   text-decoration: none;
   height: 28px;
   line-height: 28px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   text-align: center;
}
#wb_indexCssMenu2 li:hover a, #wb_indexCssMenu2 a:hover, #wb_indexCssMenu2 .active
{
   color: #FFFFFF;
   background-color: transparent;
   background-image: none;
   border: 0px solid #2E6DA4;
}
#wb_indexCssMenu2 li.firstmain
{
   padding-left: 5px;
}
#wb_indexCssMenu2 li.lastmain
{
   padding-right: 5px;
}
#wb_indexCssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#mainframeLayer1
{
   background-color: #003CA6;
   background-image: none;
}
#agentsLayer6
{
   background-color: #14315A;
   background-image: none;
}
#wb_agentsText22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_agentsText22 div
{
   text-align: center;
}
#wb_mainframeImage1
{
   vertical-align: top;
}
#mainframeImage1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#indexLayer4
{
   background-color: #C0C0C0;
   background-image: none;
}
#indexLayer5
{
   background-color: transparent;
   background-image: url(images/GrayBackground.jpg);
   background-repeat: no-repeat;
   background-position: left top;
   background-size: cover;
}
#wb_mainframeImage2
{
   vertical-align: top;
}
#mainframeImage2
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_mainframeImage3
{
   vertical-align: top;
}
#mainframeImage3
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_mainframeImage4
{
   vertical-align: top;
}
#mainframeImage4
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_mainframeText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 10px 0px 0px 0px;
   text-align: center;
}
#wb_mainframeText1
{
   color: #000000;
   font-family: Oswald;
   font-weight: normal;
   font-size: 24px;
   line-height: 35.5px;
}
#wb_mainframeText1 p, #wb_mainframeText1 ul
{
   margin: 0;
   padding: 0;
}
#wb_mainframeText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 10px 0px 0px 0px;
   text-align: center;
}
#wb_mainframeText2
{
   color: #000000;
   font-family: Oswald;
   font-weight: normal;
   font-size: 24px;
   line-height: 35.5px;
}
#wb_mainframeText2 p, #wb_mainframeText2 ul
{
   margin: 0;
   padding: 0;
}
#wb_mainframeText3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 10px 0px 0px 0px;
   text-align: center;
}
#wb_mainframeText3
{
   color: #000000;
   font-family: Oswald;
   font-weight: normal;
   font-size: 24px;
   line-height: 35.5px;
}
#wb_mainframeText3 p, #wb_mainframeText3 ul
{
   margin: 0;
   padding: 0;
}
